.layout {
    width: 100%;
}

.staff {
    background-image: url('../public/images/staff.png');
    background-repeat: repeat-x;
    height: 290px;
    width: 80%;
    margin-left: 150px;
}

.highSign {
    position: absolute;
    top: 46px;
    left: 170px;
}

.lowSign {
    position: absolute;
    top: 135px;
    left: 230px;
}

.line {
    width: 60px;
    height: 5px;
    background-color: black;
    position: relative;
    left: 27px;
    top: -66px;
}

.control {
    text-align: center;
    padding: 30px;
}
